.section-materials{
    background: linear-gradient(#000000, #300000 10%,#000000 100%);
}
.section-materials__name{
     font-family: "Yeseva One", serif;
     font-size: 30px;
     font-weight: 300;
     text-align: center;
     letter-spacing: 2px;
}
.section-materials__subtext{
     margin: 30px 10px;
     font-size: 14px;
     text-align: justify;
     
}
.section-materials__gallery {
  column-count: 2;
  column-gap: 10px;
  padding: 5px;
}

.section-materials__gallery-item {
  break-inside: avoid;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.section-materials__foto {
  width: 100%;
  display: block;
  border-radius: 6px;
  object-fit: cover;
}
.foto-small{
    height: 200px;
}
.metal{
    position: absolute;
    top: 40px;
    left: -36px;
    right: 23px;
    width: 70px;
    transform: rotate(322deg);
}